{{#if tracks.length}}
<h2 class="header">Your album</h2>
{{#if albumError}}
  <div class="alert-errors">{{albumError}}</div>
{{/if}}


<div class="header-colum">
  <h5 class="title">Title</h5>
  <h5 class="artist">Artist</h5>
  <h5 class="number">Date added</h5>
</div>  


  {{#each tracks}}
  
    <div class="col s12 m7">
    
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{img}}">
      </div>
      
      <div class="card-stacked">
        <div class="card-content">
          <div class="card-description">
          <div>{{name}}</div>
          <div>{{artist}}</div>
          <div>{{date}}</div>
         </div> 
        <div class="card-player">
        <audio controls>
              <source src="{{audio}}" type="audio/mpeg">
              <source src="{{audio}}" type="audio/ogg">
              Your browser does not support the
                        <code>audio</code> element.
        </audio>
        <div class="track-reference">
          <form action="/album/{{_id}}/delete?_method=DELETE" method="POST">
           <button class="btn red">Delete track</button>
           <button onclick="location.href='/tracks/{{_id}}'" type="button" class="btn btn-primary">Open</button>
           {{#ifequal userId._id @root.userId}}
           <button onclick="location.href='/tracks/{{_id}}/edit'" type="button" class="btn btn-primary">Edit</button>
           {{/ifequal}}
           <input type="hidden" name="_csrf" value="{{@root.csrf}}">
        </form>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  
  {{/each}}
  {{else}}
  <h1>No tracks😞 <a href="/tracks">Add now</a></h1>
{{/if}}
