<h2 class="header">List of tracks</h2>
{{#if albumError}}
  <div class="alert-errors">{{albumError}}</div>
{{/if}}
<div class="header-colum">
  <h5 class="title">Title</h5>
  <h5 class="artist">Artist</h5>
  <h5 class="number">Number of plays</h5>
</div>  
{{#if tracks.length}}

  {{#each tracks}}
  
    <div class="col s12 m7">
    
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{img}}">
      </div>
      
      <div class="card-stacked">
        <div class="card-content">
          <div class="card-description">
          <div>{{name}}</div>
          <div>{{artist}}</div>
          <div>{{listens}}</div>
         </div> 
        <div class="card-player">
        <audio controls>
              <source src="{{audio}}" type="audio/mpeg">
              <source src="{{audio}}" type="audio/ogg">
              Your browser does not support the
                        <code>audio</code> element.
        </audio>
       
        <div class="track-reference">
        
           
          <form action="/album/{{id}}/add" method="POST">
          
            <button type="submit" class="btn btn-primary">Add to album</button>
          </form>
         
            <a href="/tracks/{{id}}" target="_blank">Open</a>
          <a href="/tracks/{{id}}/edit" target="_blank">Edit</a>
          
          
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  
  {{/each}}
{{/if}}

